@import "~shared-style/mixin";

.SubMenu {
  &.childShow {
    i {
      opacity: 1 !important;
    }
  }
  .opts {
    @extend %fadeUpHide;
    background: #fff;
    top: 100%;
    &.active {
      @extend %fadeUpShow;
    }
  }
}