@import "shared-style/variable";

.ProjectAPIList {
  &:hover {
    .listHoverShow {
      opacity: 1;
    }
  }

  .apiHeader {
    margin-bottom: 0.5rem;
    &:hover {
      .headerHoverShow {
        opacity: 1;
      }
    }
  }

  .componentItem {
    cursor: pointer;
    transition: all 0.25s ease-out;
    border-radius: 10px;
    &:hover, &.active {
      color: $blue-purple;
      padding-left: 10px;
      background: rgba(0, 0, 0, 0.02);
      font-weight: bold;
    }
  }
}
