@import "shared-style/variable";

.List {
  &:hover {
    .listHoverShow {
      opacity: 1;
    }
  }

  .apiHeader {
    margin-bottom: 0.5rem;
    &:hover {
      .headerHoverShow {
        opacity: 1;
      }
    }
  }

  .componentItem {
    cursor: pointer;
    transition: all 0.25s ease-out;
    &.active, &:hover {
      color: $blue-purple;
    }
  }
}

.darkTheme {
  .componentItem {
    &.active, &:hover {
      color: #fff;
    }
    &.active {
      font-weight: bold;
    }
  }
}
