@import "~shared-style/variable";

.EndpointItem {
  /**
   * Right section
   */
  .rightSection {
    .openAPIHeader {
      background: #3c4257;
    }
    .curlHeader {
      background: #e3e8ee;
    }
    .curlBody {
      background: #f7fafc;
    }
  }
}

.darkTheme {
  /**
   * Right section
   */
  .rightSection {
    .openAPIHeader {
      background: #232323;
    }
    .curlHeader {
      background: transparent;
      border: 1px solid transparentize(#828282, 0.6);
    }
    .curlBody {
      background: transparent;
      border: 1px solid transparentize(#828282, 0.6);
      border-top-width: 0;
    }
  }
}