@import "~shared-style/variable";

.EndpointItem {
  &.first {
    .sectionTitle {
      .iconarrow-right {
        top: 0;
      }
    }
  }
  &:hover {
    .endpointBlockHoverShow {
      opacity: 1 !important;
    }
  }

  .endpointDetailLeft {
    &:hover {
      .endpointLeftHoverShow {
        opacity: 1 !important;
      }
    }
  }

  .gradientBorder {
    background: linear-gradient(90deg, rgba(95,183,255,1) 0%, rgba(252,133,133,1) 100%);
    position: relative;
    width: 7rem;
    text-align: center;
    padding: 0.45rem 0;
    &:before {
      content: "";
      position: absolute;
      background: #fff;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      left: 1px;
      top: 1px;
    }
  }

  // Parameter
  .ParameterRender {
    min-width: 300px;
    .endpointDesc {
      a {
        color: $blue-purple;
        transition: all 0.25s ease-out;
        cursor: pointer;
        &:hover {
          color: darken($blue-purple, 10%);
        }
      }
    }

    // OpenAPI panel
    .openAPIPanel {
      width: 500px;
      transition: all 0.35s ease-out;
      opacity: 0;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 110%;
      transform: translateX(-40px);
      background: #304148;
      &.active {
        transform: translateX(0);
        opacity: 1;
        z-index: 9;
      }
    }
  }

  // Devider
  .endpointlDevider {
    height: 100%;
    cursor: ew-resize;
    padding-left: 25px;
    padding-right: 25px;
    &:hover:after {
      background: $grey-lightest;
    }
    &:after {
      content: "";
      display: block;
      height: 100%;
      width: 2px;
      transition: background 0.25s ease-out;
      box-sizing: content-box;
    }
  }

  .type-string {
    color: $blue-purple;
  }
  .type-number {
    color: $blue-purple;
  }
  .type-boolean {
    color: $blue-purple;
  }

  /**
   * Right section
   */
  .rightSection {
    .openAPIHeader {
      background: #3c4257;
    }
    .curlHeader {
      background: #e3e8ee;
    }
    .curlBody {
      background: #f7fafc;
    }
  }
}

.darkTheme {
  /**
   * Right section
   */
  .rightSection {
    .openAPIHeader {
      background: #232323;
    }
    .curlHeader {
      background: transparent;
      border: 1px solid transparentize(#828282, 0.6);
    }
    .curlBody {
      background: transparent;
      border: 1px solid transparentize(#828282, 0.6);
      border-top-width: 0;
    }
  }
}