.MethodLabel {
  &.active {
    @extend %methodBgRule;
  }
}

%methodBgRule {
  transition: box-shadow 0.3s ease-out;
  &.no-shadow {
    box-shadow: none !important;
  }
  &.get {
    background: #4497F8;
    box-shadow: 0 3px 6px transparentize(#4497F8, 0.4);
    &:hover {
      box-shadow: 0 4px 10px transparentize(#4497F8, 0.4);
    }
  }
  &.post {

  }
  &.patch {

  }
  &.put {

  }
  &.delete {

  }
  &.head {

  }
}

%methodTextRule {
  transition: color 0.3s ease-out;
  &.get {
    color: #4497F8;
    &:hover {
      color: darken(#4497F8, 20%);
    }
  }
  &.post {

  }
  &.patch {

  }
  &.put {

  }
  &.delete {

  }
  &.head {

  }
}