.FullSchema {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);

  .codeMirror {
    width: 80vw;
    height: 80vh;
    & > .CodeMirror {
      height: 100%;
    }
  }

  .bottomBtns {
    width: 80vw;
    .buymeacoffeeBtn {
      img {
        height: 2.1rem;
      }
    }
  }
}