@font-face {
  font-family: "iconfont"; /* Project id 2548800 */
  src: url('//at.alicdn.com/t/font_2548800_amthpjfuzkl.woff2?t=1631519805235') format('woff2'),
       url('//at.alicdn.com/t/font_2548800_amthpjfuzkl.woff?t=1631519805235') format('woff'),
       url('//at.alicdn.com/t/font_2548800_amthpjfuzkl.ttf?t=1631519805235') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e6f2";
}

.icon-suggest:before {
  content: "\e767";
}

.icon-add:before {
  content: "\e664";
}

.icon-Daytimemode:before {
  content: "\e771";
}

.icon-nightmode:before {
  content: "\e773";
}

.icon-Color:before {
  content: "\e660";
}

.icon-github:before {
  content: "\e799";
}

.icon-seleted:before {
  content: "\e763";
}

.icon-copy:before {
  content: "\e66b";
}

.icon-fullscreen-shrink:before {
  content: "\e676";
}

.icon-fullscreen-expand:before {
  content: "\e675";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-elipsis:before {
  content: "\e66e";
}

.icon-search:before {
  content: "\e7b3";
}
