@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './components';
@import './variable';
@import './iconfont';
@import './tailwindExtend';

html {
  color: #000;
  font: 16px/1.625 -apple-system, 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Hiragino Sans GB', Simsun, Arial, sans-self;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html, body, #app {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

div, side, main {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

i, a, input, text, button {
  &:focus {
    outline: none;
  }
}

i {
  user-select: none;
}

ul {
  list-style: none;
}

input {
  border-bottom: 1px solid $grey;
  &:focus {
    outline: none;
  }
}

label {
  cursor: inherit;
}

:focus {
  outline: none;
}

// Layout
.wrapper {
  min-width: 1024px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  &.tight {
    width: 680px;
  }
}

// Editor related
[contenteditable=true] {
  cursor: text;
}

[contenteditable=true]:empty{
  &::before {
    content: attr(placeholder);
    display: block;
    color: $grey-light;
    caret-color: $green;
  }
}
.darkTheme {
  [contenteditable=true]:empty{
    &::before {
      color: #848484;
    }
  }
}

// Transition
.fadeUpHide {
  transition: opacity 0.35s ease-out, transform 0.35s ease-out;
  opacity: 0;
  transform: translateY(15px);
  pointer-events: none;
}
.fadeUpShow {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.opacityHide {
  transition: opacity 0.35s ease-out;
  opacity: 0;
  pointer-events: none;
}
.opacityShow {
  opacity: 1;
  pointer-events: auto;
}
